td{
    border: 1px solid black;
    text-align: center;
    margin: 0px;
	padding: 15px;
	vertical-align: middle;
}/* Travail sur le design des cellules du tableau*/

table
{
    border-collapse: collapse;/* Les bordures du tableau seront collées */
    font-size: 16px;
}

body{
	font-family: arial;
	font-size: 20px;
  background-image:url(bg.jpg);
  background-size: cover;
  box-sizing: border-box;
  min-height:100vh;
}
.com{
    border : 1px solid black;
    border-radius: 0px;
    text-align: center;
}
h1{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #000000
  text-align: center;
}
p{
	font-family: "Roboto Slab",serif;
	font-weight: 300;
	font-size: 20px;
	padding: 30px 0px 50px !important;
	margin: 0 auto;
}

.follow_icon {
	list-style: none;
	float: right;

}
.follow_icon ul{
  list-style:none;margin:0;padding:0;
}
.follow_icon li {
	float: right;
	margin-right: : 13px;
	padding:0%;
}
.follow_icon li a img {
	vertical-align: middle;
}
.follow_icon li a img:hover {
	opacity: 0.7;
}
