header{
  background-color: #3F5378;
}

.headerli{
    list-style:none;
    background-color:#FF9800;
    padding:15px;
    margin-right:20px;
    border-radius: 10px;
    text-decoration: none;
    float: left;
}
.leftone {
  float: left;
  width: 85%;
  box-sizing: border-box;
}

.rightone {
  float: right;
  width: 15%;
  margin-right: 10px;
  text-align: center;
  box-sizing: border-box;
}
.headerli1{
    list-style:none;
    background-color:#FF9800;
    padding:15px;
    border-radius: 10px;
    text-decoration: none;
    float: center;
}
