header{
  background-color: #3F5378;
}
.headerli{
    list-style:none;
    background-color:#FF9800;
    padding:15px; margin-right:20px;
    border-radius: 10px;
    text-decoration: none;
}

:last-child{
  text-align: left;
}
